# Environment files
.env
.env.*
!.env.simple

# REST API
api.rest
!api.rest.simple

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Strapi
.cache/
.tmp/
build/
dist/
public/uploads/

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db